.form-select
{
  width: 8%;
  outline: none;
  background-color: rgb(121, 120, 120);
  color: white;
  font-weight: bold;
}


#nav_option
{
  display: flex;
  flex-direction: row;
}

#logo
{
  font-weight: bold;
}